# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Logs
logs/*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Python Cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/

# IDE
.idea/__pycache__/
output/
